
@model List<dotnetoop.Models.Domain.Employee>
@{
    ViewData["Title"] = "Index";
}


<h1>Employee</h1>
<table class="table">
<thead>
    <tr>
         <th>Id</th>
         <th>Name</th> 
         <th>Email</th>
         <th>Salary</th>
         <th>Department</th>
         <th>Date of Birth</th>
    </tr>
</thead>
<tbody>
@foreach(var item in Model ){
<tr>
    <td>@item.Id</td>
    <td>@item.Name</td>
    <td>@item.Email</td>
    <td>@item.Salary</td>
    <td>@item.Department</td>
    <td>@item.DateOfBirth.ToString("dd/MM/yyyy HH:mm:ss")</td>


</tr>
    }
</tbody>
</table>